<h2 mat-dialog-title>Occupancy Certificate</h2>
<mat-dialog-content class="mat-typography">
  <div class="min-h-full min-w-full">
    <app-create-occupancy-certificate></app-create-occupancy-certificate>
  </div>
</mat-dialog-content>
<div mat-dialog-actions align="start">
  <button mat-flat-button color="warn" mat-dialog-close>
    <mat-icon class="mat-18">close</mat-icon>

    Close
  </button>

  <button class="w-30" mat-flat-button (click)="saveOccupancyCertificate()" color="primary">
    <mat-icon class="mat-18">check</mat-icon>
    {{ saveBtnLabel }}
  </button>
</div>
