<section>
  <mat-divider></mat-divider>
  <span class="mx-5"></span>

  <mat-card-title>Scope Of Work:</mat-card-title>
  <div class="grid grid-cols-3 gap-4">
    <div class="">
      <mat-checkbox [(ngModel)]="scaffoldingScopeOfWork.isNewConstruction"
        >New Construction</mat-checkbox
      >
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="scaffoldingScopeOfWork.isErection">Erection</mat-checkbox>
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="scaffoldingScopeOfWork.isAddition">Addition</mat-checkbox>
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="scaffoldingScopeOfWork.isAlteration">Alteration</mat-checkbox>
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="scaffoldingScopeOfWork.isRenovation">Renovation</mat-checkbox>
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="scaffoldingScopeOfWork.isConversion">Conversion</mat-checkbox>
    </div>

    <div class="">
      <mat-checkbox [(ngModel)]="scaffoldingScopeOfWork.isRepair">Repair</mat-checkbox>
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="scaffoldingScopeOfWork.isMoving">Moving</mat-checkbox>
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="scaffoldingScopeOfWork.isRaising">Raising</mat-checkbox>
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="scaffoldingScopeOfWork.isDemolition">Demolition</mat-checkbox>
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="scaffoldingScopeOfWork.isAccesoryBuildingOrStructure"
        >Accessory Building/Structure</mat-checkbox
      >
    </div>
    <!-- <div class="">
        <mat-checkbox [(ngModel)]="scaffoldingScopeOfWork.others">Others</mat-checkbox>
      </div> -->
  </div>
</section>
