<section>
  <mat-divider></mat-divider>
  <span class="mx-5"></span>

  <mat-card-title>Scope Of Work:</mat-card-title>
  <div class="grid grid-cols-3 gap-4">
    <div class="">
      <mat-checkbox [(ngModel)]="tscPurpose.isForConstruction">For Construction</mat-checkbox>
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="tscPurpose.isForTesting">For Testing</mat-checkbox>
    </div>

    <!-- <div class="">
        <mat-checkbox [(ngModel)]="fencingScopeOfWork.others">Others</mat-checkbox>
      </div> -->
  </div>
</section>
