<section>
  <mat-divider></mat-divider>
  <span class="mx-5"></span>

  <mat-card-title>Character Of Occupancy:</mat-card-title>
  <div class="grid grid-cols-3 gap-4">
    <div class="">
      <mat-checkbox [(ngModel)]="egpCharOfOccupancy.isCharOccupancygroupA"
        >Group A: Residential Dwellings</mat-checkbox
      >
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="egpCharOfOccupancy.isCharOccupancygroupB"
        >Group B: Residential Hotel, Apartment</mat-checkbox
      >
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="egpCharOfOccupancy.isCharOccupancygroupC"
        >Group C: Educational, Recreational</mat-checkbox
      >
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="egpCharOfOccupancy.isCharOccupancygroupD"
        >Group D: Institutional</mat-checkbox
      >
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="egpCharOfOccupancy.isCharOccupancygroupE"
        >Group E: Business and Mercantile</mat-checkbox
      >
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="egpCharOfOccupancy.isCharOccupancygroupF"
        >Group F: Industrial</mat-checkbox
      >
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="egpCharOfOccupancy.isCharOccupancygroupG"
        >Group G: Industrial Storage and Hazardous</mat-checkbox
      >
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="egpCharOfOccupancy.isCharOccupancygroupH"
        >Group H: Recreational, Assembly Occupant Load Less than 1000</mat-checkbox
      >
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="egpCharOfOccupancy.isCharOccupancygroupI"
        >Group I: Recreational, Assembly Occupant Load 1000 or More</mat-checkbox
      >
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="egpCharOfOccupancy.isCharOccupancygroupJ"
        >Group J: Agricultural, Accessory</mat-checkbox
      >
    </div>

    <!-- <div class="">
        <mat-checkbox [(ngModel)]="egpCharOfOccupancy.others">Others</mat-checkbox>
      </div> -->
  </div>
</section>
