<div class="w-full" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h2 class="mb-6 text-lg">Airconditioning or Refrigerator Certificate</h2>
        <mat-form-field class="w-1/3" appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Jordan" #input />
        </mat-form-field>
        <section class="float-right">
          <div class="flex gap-2 m-2">
            <button mat-fab matTooltip="Refresh" mat-flat-button color="primary">
              <mat-icon>refresh</mat-icon>
            </button>
            <button
                    mat-fab
                    matTooltip="Create Fencing Permit"
                    mat-flat-button
                    color="primary"
                    (click)="createPermit()">
              <mat-icon>add</mat-icon>
            </button>
            <button
                    mat-fab
                    matTooltip="Create Fencing Permit"
                    mat-flat-button
                    color="primary"
                    (click)="printCertificate()">
              <mat-icon>print</mat-icon>
            </button>
          </div>
        </section>

        <section>
          <mat-table matSort class="w-full" [dataSource]="dataSource">
            <!-- Appl. Code Column -->
            <ng-container matColumnDef="certificateNo">
              <mat-header-cell *matHeaderCellDef>Certificate No</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.id }}
              </mat-cell>
            </ng-container>

            <!-- Fullname Column -->
            <ng-container matColumnDef="owner_lessee">
              <mat-header-cell *matHeaderCellDef>Owner/Lease</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.electricalPermit.buildingPermit?.firstName }}
                {{ element.electricalPermit.buildingPermit?.lastName }}
              </mat-cell>
            </ng-container>

            <!-- Lot No Column -->
            <ng-container matColumnDef="mpNo">
              <mat-header-cell *matHeaderCellDef>Mechanical Permit No</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.electricalPermit.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell mat-sort-header *matHeaderCellDef>Action</mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Action">
                <div>
                  <button
                          matTooltip="Edit Permit"
                          class=""
                          mat-icon-button
                          color="primary"
                          (click)="editRecord(element)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                          matTooltip="View Details"
                          mat-icon-button
                          color="primary"
                          (click)="editRecord(element)">
                    <mat-icon>remove_red_eye</mat-icon>
                  </button>
                  <button
                          matTooltip="Print Application"
                          class=""
                          mat-icon-button
                          color="primary"
                          (click)="printCertificate(element)">
                    <mat-icon>print</mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <mat-paginator
                         [pageSizeOptions]="[2, 5, 10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>