<div class="w-full" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h1 class="mb-6 text-lg">Issued Building Permits</h1>
        <div class="flex">
          <div class="flex-auto">
            <mat-form-field class="w-1/3" appearance="outline">
              <mat-label>Search</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Jordan" #input />
            </mat-form-field>
          </div>
        </div>

        <section id="print-section">
          <table mat-table [dataSource]="dataSource">
            <!-- Appl. Code Column -->
            <ng-container matColumnDef="applicationNo">
              <th mat-header-cell *matHeaderCellDef>Application Code</th>
              <td mat-cell *matCellDef="let element">{{ element.applicationNo }}</td>
            </ng-container>

            <!-- Area Code Column -->
            <ng-container matColumnDef="areaNo">
              <th mat-header-cell *matHeaderCellDef>Area Code</th>
              <td mat-cell *matCellDef="let element">{{ element.areaNo }}</td>
            </ng-container>

            <!-- Fullname Column -->
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef>Applicant Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.applicant.firstName }} {{ element.applicant.lastName }}
              </td>
            </ng-container>

            <!-- Lot No Column -->
            <ng-container matColumnDef="lotNo">
              <th mat-header-cell *matHeaderCellDef>Lot No</th>
              <td mat-cell *matCellDef="let element">{{ element.lotNo }}</td>
            </ng-container>

            <!-- block NO Column -->
            <ng-container matColumnDef="blockNo">
              <th mat-header-cell *matHeaderCellDef>Block No</th>
              <td mat-cell *matCellDef="let element">{{ element.blockNo }}</td>
            </ng-container>
            <!-- TCT NO Column -->
            <ng-container matColumnDef="tctNo">
              <th mat-header-cell *matHeaderCellDef>TCT No</th>
              <td mat-cell *matCellDef="let element">{{ element.tctNo }}</td>
            </ng-container>
            <!-- ID NO Column -->
            <ng-container matColumnDef="taxDecNo">
              <th mat-header-cell *matHeaderCellDef>TD No</th>
              <td mat-cell *matCellDef="let element">{{ element.taxDecNo }}</td>
            </ng-container>
            <!-- Street Column -->
            <ng-container matColumnDef="street">
              <th mat-header-cell *matHeaderCellDef>Property St.</th>
              <td mat-cell *matCellDef="let element">{{ element.street }}</td>
            </ng-container>
            <!-- Barangay Column -->
            <ng-container matColumnDef="baranggay">
              <th mat-header-cell *matHeaderCellDef>Property Brg.</th>
              <td mat-cell *matCellDef="let element">{{ element.baranggay }}</td>
            </ng-container>
            <!-- City Mun Column -->
            <ng-container matColumnDef="cityMun">
              <th mat-header-cell *matHeaderCellDef>Property City/Mun.</th>
              <td mat-cell *matCellDef="let element">{{ element.cityMun }}</td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th class="text-right" mat-header-cell *matHeaderCellDef>Action</th>
              <td class="" mat-cell *matCellDef="let element">
                <div class="flex justify-center">
                  <div class="flex">
                    <button class="" [matMenuTriggerFor]="menu" mat-icon-button color="primary">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                        <span>View Details</span>
                      </button>
                      <button mat-menu-item (click)="printNew(element)">
                        <mat-icon>print</mat-icon>
                        <span>Print</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="selection.toggle(row)"
            ></tr>
          </table>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>
