<div fxLayoutAlign="center none">
  <div class="grid wrapper">
    <div class="text-center">
      <p>Republic of The Philippines</p>
      <p>City/Municipality of Prosperidad</p>
      <p>Province of Agusan Del Sur</p>
    </div>
    <div class="text-center">
      <p class="text-4xl font-bold my-10 uppercase">Certificate of Occupancy</p>
    </div>
    <div class="mx-auto">
      <div class="text-left underline-offset-4">
        <p>
          No.
          <span class="underline font-bold"
            >&nbsp;&nbsp;&nbsp;&nbsp;21-07-0018&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
        </p>
        <p>
          Fee Paid
          <span class="underline font-bold"
            >&nbsp;&nbsp;&nbsp;&nbsp;P
            1,650.57&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
        </p>
        <p>
          Official Receipt
          <span class="underline font-bold"
            >&nbsp;&nbsp;&nbsp;&nbsp;5677361&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
        </p>
        <p>
          Date Paid
          <span class="underline font-bold"
            >&nbsp;&nbsp;&nbsp;&nbsp;09/08/2021&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
        </p>
      </div>
    </div>

    <div class="flex justify-end my-10">
      <div class="text-center">
        <p class="">______________________________</p>
        <p class="">Date Issued</p>
      </div>
    </div>

    <div class="text-justify flex gap-5 flex-col mt-5 indent-10">
      <p class="">
        This
        <span class="uppercase font-bold underline underline-offset-4"
          >&nbsp;&nbsp;Certificate of Occupancy&nbsp;&nbsp;</span
        >
        is issued/granted pursuant to pertinent provision of the National Building Code (PD 1096)
        and its Implementing Rules and Regulations.
      </p>
      <div class="">
        <p>
          Name of Owner/Lessee
          <span class="uppercase font-bold underline-offset-4 ml-2">Test Store of Jordan </span>
        </p>
        <p>
          Character of Occupancy
          <span class="uppercase font-bold underline-offset-4 ml-2">Residential Area</span>
          Group
          <span class="uppercase font-bold underline-offset-4 ml-2">A</span>
        </p>
        <p>
          Located At/Along
          <span class="uppercase font-bold underline-offset-4 ml-2"
            >Block 18, Unknown St., Prosperidad Agusan Del Sur</span
          >
        </p>
      </div>
      <p class="">
        The owner shall properly maintain the building/structure to enhance architectural well
        being, structural stability, electrical, mechanical, sanitation, plumbing, electronics,
        interior design and fire-protective properties and shall not be occupied or used for
        purposes other than its intended use as stated above.
      </p>
      <p class="">
        The architect or engineer who drew up the plans and specifications for the
        building/structure is aware that under article 1723 of the Civil Code of the Philippines, he
        is responsible for damages if within fifteen (15) years from the completion of the
        building/structure, the same should collapse due to defect in the plans or specifications or
        defects in the ground. He is therefore enjoined to conduct annual inspections of the
        structure to ensure that the conditions under which the structure was designed are not being
        violated or abused.
      </p>
    </div>
    <div class="text-justify flex gap-5 flex-col mt-5 indent-10">
      <p class="">
        The building/structure shall be subject to annual inspection and issuance of a Certificate
        of Occupancy for a period of one (1) year from the date of issuance of certificate and
        yearly thereafter.
      </p>
      <p class="">
        A certified copy hereof shall be posted within the premises of the building and shall not be
        removed without authority from the Building Official.
      </p>
    </div>

    <div class="flex justify-end mt-20">
      <div class="text-center">
        <p class="py-50 uppercase font-bold underline underline-offset-4">
          &nbsp;&nbsp;&nbsp;&nbsp;JORDAN C. TORREON&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p class="">MPDC/Concurrent me designate</p>
        <p class="">Building Official</p>
        <p class="">(Signature Over Printed Name)</p>
        <p>Date: <span class="font-bold">March 11, 1996</span></p>
      </div>
    </div>
  </div>
</div>
