.wrapper {
  width: 8.5in;
  margin: 0 auto;
  padding: .2in .5in;
  background-color: azure;
  // box-shadow: 2px 2px 20px gray;
  border-radius: 5px;
  overflow-block: visible !important;
}
