<div class="wrapper" id="print-cert" fxLayout="row" fxLayoutAlign="center none">
  <section>
    <span class="mx-5"></span>
    <!-- <mat-card-title>Owner/Applicaton</mat-card-title> -->
    <div class="grid lg:gap-4 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-center">
        <p>Republic of The Philippines</p>
        <p>City/Municipality of Prosperidad</p>
        <p>Province of Agusan Del Sur</p>
      </div>
      <div class="text-center">
        <p class="text-4xl font-bold my-10 uppercase">Certificate of Annual Inspection</p>
      </div>
      <div class="flex justify-end">
        <div class="text-center">
          <p class="">______________________________</p>
          <p class="">Date Issued</p>
        </div>
      </div>

      <div class="text-justify flex gap-5 flex-col mt-5 indent-10">
        <p class="">
          This
          <span class="uppercase font-bold underline underline-offset-4"
            >Certificate of Annual Inspection</span
          >
          is issued/granted pursuant to pertinent provision of the National Building Code (PD 1096)
          and its Implementing Rules and Regulations.
        </p>
        <div class="">
          <p>
            Name of Owner/Lessee
            <span class="uppercase font-bold underline-offset-4 ml-2">Test Store of Jordan </span>
          </p>
          <p>
            Character of Occupancy
            <span class="uppercase font-bold underline-offset-4 ml-2">Residential Area</span>
            Group
            <span class="uppercase font-bold underline-offset-4 ml-2">A</span>
          </p>
          <p>
            Located At/Along
            <span class="uppercase font-bold underline-offset-4 ml-2"
              >Block 18, Unknown St., Prosperidad Agusan Del Sur</span
            >
          </p>
        </div>

        <p class="">
          The Owner/Lessee shall properly maintain the building/structure to enhance architectural
          well-being, structural stability, electrical, mechanical sanitation, plumbing,
          electronics, interior design and fire-protective properties and shall not be occupied or
          used for purposes other than its intended use as stated above.
        </p>
        <p class="">
          No alteration/Addition/Repairs/New Electrical/Electronics and/or Mechanical/
          Plumbing/Sanitary installations shall be made thereon without a permit therefor.
        </p>
        <p class="">
          The architect or engineer who drew up the plans and specifications for the
          building/structure is aware that under article 1723 of the Civil Code of the Philippines
          he is responsible for damages if within fifteen (15) years from the completion of the
          structure, the same should collapse due to defect in the plans or specifications or
          defects in the ground. He is therefore enjoined to conduct annual inspections of the
          structure to ensure that the conditions under which the structure was designed are not
          being violated or abused.
        </p>
        <p class="">
          A certified copy hereof shall be posted within the premises of the building and shall not
          be removed without authority from the Building Official.
        </p>
      </div>

      <div class="flex justify-end mt-20">
        <div class="text-center">
          <p class="py-50 uppercase font-bold">JORDAN C. TORREON</p>
          <p class="">_______________________________________</p>
          <p class="">Building Official</p>
          <p class="">(Signature Over Printed Name)</p>
          <p>Date: <span class="font-bold">March 11, 1996</span></p>
        </div>
      </div>
      <div class="mt-5">
        <p class="font-bold">Note:</p>
        <p class="indent-10">
          The owner/occupant of the building under the character of occupancy, group b to j shall
          notify in writing the office of the Building Official for the granting/issuance of an
          annual inspection certificate after one
          <span class="font-bold">(1)</span> year from the date of the issuance of this certificate
          and yearly thereafter.
        </p>
      </div>
    </div>
  </section>
</div>
