<div class="w-full" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content class="mt-5">
        <section>
          <mat-divider></mat-divider>
          <span class="mx-5"></span>
          <div class="grid lg:grid-cols-3 lg:gap-4 md:grid-cols-1 sm:grid-cols-1">
            <div>
              <mat-form-field
                              (click)="showSelectElectronicPermitDialog()"
                              class="w-full"
                              appearance="outline">
                <mat-label>Electrical Permit</mat-label>
                <input
                       [disabled]="true"
                       matInput
                       [(ngModel)]="TCPCertificate.electricalPermit.applicationNo" />
              </mat-form-field>
            </div>
          </div>
        </section>
        <section class="mt-5">
          <mat-divider></mat-divider>
          <mat-card-title class="pt-5">Owner of Building</mat-card-title>
          <div class="grid lg:grid-cols-3 lg:gap-4 md:grid-cols-1 sm:grid-cols-1">
            <div class="">
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>First Name</mat-label>
                <input
                       [disabled]="true"
                       matInput
                       [(ngModel)]="TCPCertificate.electricalPermit.buildingPermit.applicant.firstName" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field disabled class="w-full" appearance="outline">
                <mat-label>Middle Initial</mat-label>
                <input
                       [disabled]="true"
                       matInput
                       [(ngModel)]="TCPCertificate.electricalPermit.buildingPermit.applicant.middleInitial" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field disabled class="w-full" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input
                       [disabled]="true"
                       matInput
                       [(ngModel)]="TCPCertificate.electricalPermit.buildingPermit.applicant.lastName" />
              </mat-form-field>
            </div>
          </div>
        </section>
        <section class="mt-5">
          <mat-divider></mat-divider>
          <mat-card-title class="pt-5">Building Information</mat-card-title>
          <div class="grid lg:grid-cols-3 lg:gap-4 md:grid-cols-1 sm:grid-cols-1">
            <div>
              <mat-form-field disabled class="w-full" appearance="outline">
                <mat-label>Address No</mat-label>
                <input
                       [disabled]="true"
                       matInput
                       [(ngModel)]="TCPCertificate.electricalPermit.buildingPermit.applicant.addressNo" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field disabled class="w-full" appearance="outline">
                <mat-label>Address St</mat-label>
                <input
                       [disabled]="true"
                       matInput
                       [(ngModel)]="TCPCertificate.electricalPermit.buildingPermit.applicant.addressStreet" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field disabled class="w-full" appearance="outline">
                <mat-label>Address Brgy</mat-label>
                <input
                       [disabled]="true"
                       matInput
                       [(ngModel)]="TCPCertificate.electricalPermit.buildingPermit.applicant.addressBarangay" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field disabled class="w-full" appearance="outline">
                <mat-label>Address City</mat-label>
                <input
                       [disabled]="true"
                       matInput
                       [(ngModel)]="TCPCertificate.electricalPermit.buildingPermit.applicant.addressCity" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field disabled class="w-full" appearance="outline">
                <mat-label>Use Or Character Of Occupancy</mat-label>
                <input [disabled]="true" matInput />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field disabled class="w-full" appearance="outline">
                <mat-label>Occupant</mat-label>
                <input [disabled]="true" matInput />
              </mat-form-field>
            </div>
          </div>
        </section>
        <section>
          <mat-divider></mat-divider>
          <span class="mx-5"></span>
          <mat-card-title>Summary Of Electrical Loads/Capacities</mat-card-title>
          <div class="grid lg:grid-cols-3 lg:gap-4 md:grid-cols-1 sm:grid-cols-1">
            <div>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Total Connection Load</mat-label>
                <input
                       [disabled]="true"
                       matInput
                       [(ngModel)]="TCPCertificate.electricalPermit.totalConnectionLoad" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Total Transformer Capacity</mat-label>
                <input
                       [disabled]="true"
                       matInput
                       [(ngModel)]="TCPCertificate.electricalPermit.totalTransformerCapacity" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Total Generator/UPS Capacity</mat-label>
                <input
                       [disabled]="true"
                       matInput
                       [(ngModel)]="TCPCertificate.electricalPermit.totalTransformerCapacity" />
              </mat-form-field>
            </div>
          </div>
        </section>

        <section class="mt-5">
          <mat-divider></mat-divider>
          <mat-card-title class="pt-5">Other Details</mat-card-title>

          <div class="grid lg:grid-cols-3 lg:gap-4 md:grid-cols-1 sm:grid-cols-1">
            <div class="">
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Inspection Fee</mat-label>
                <input matInput [(ngModel)]="TCPCertificate.fee" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field disabled class="w-full" appearance="outline">
                <mat-label>O.R. No.</mat-label>
                <input matInput [(ngModel)]="TCPCertificate.orNo" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Date Paid</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="TCPCertificate.datePaid" />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </section>
        <app-signatory
                       (selectSignatoryCallback)="assignSignatory($event)"
                       [data]="TCPCertificate.verifier"
                       label="Verifier"
                       selector="VFR"
                       sectionLabel="Verifier"></app-signatory>
        <app-signatory
                       (selectSignatoryCallback)="assignSignatory($event)"
                       [data]="TCPCertificate.electricalInspector"
                       label="Electrical Inspector"
                       selector="EI"
                       sectionLabel="Electrical Inspector"></app-signatory>
        <app-signatory
                       selector="CES"
                       [data]="TCPCertificate.chiefElectricalSection"
                       (selectSignatoryCallback)="assignSignatory($event)"
                       label="Chief, Electrical Sections"
                       sectionLabel="Chief, Electrical Section"></app-signatory>
        <app-signatory
                       selector="CIED"
                       [data]="TCPCertificate.chiefInspectionEnforcementDivision"
                       (selectSignatoryCallback)="assignSignatory($event)"
                       label="Chief, Inspection & Enforcement Division"
                       sectionLabel="Chief, Inspection & Enforcement Division"></app-signatory>
        <app-signatory
                       [data]="TCPCertificate.buildingOfficial"
                       selector="BO"
                       (selectSignatoryCallback)="assignSignatory($event)"
                       label="Building Official"
                       sectionLabel="Building Official"></app-signatory>
      </mat-card-content>
      <mat-card-actions class="bg-gray-100" align="start">
        <div class="flex flex-row gap-3 p-5">
          <button
                  *ngIf="saveButtonSelector === 'UPDATE'"
                  class="w-30"
                  mat-flat-button
                  color="primary"
                  (click)="save()">
            Update Permit
          </button>
          <button
                  *ngIf="saveButtonSelector === 'SAVE'"
                  class="w-30"
                  mat-flat-button
                  (click)="save()"
                  color="primary">
            Save And Print
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>