<section>
  <mat-divider></mat-divider>
  <span class="mx-5"></span>

  <mat-card-title>Scope Of Work:</mat-card-title>
  <div class="grid grid-cols-3 gap-4">
    <div class="">
      <mat-checkbox [(ngModel)]="sidewalkScopeOfWork.isNewConstruction"
        >New Construction</mat-checkbox
      >
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="sidewalkScopeOfWork.isErection">Erection</mat-checkbox>
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="sidewalkScopeOfWork.isAddition">Addition</mat-checkbox>
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="sidewalkScopeOfWork.isRenovation">Renovation</mat-checkbox>
    </div>
    <div class="">
      <mat-checkbox [(ngModel)]="sidewalkScopeOfWork.isRepair">Repair</mat-checkbox>
    </div>
    <!-- <div class="">
        <mat-checkbox [(ngModel)]="sidewalkScopeOfWork.others">Others</mat-checkbox>
      </div> -->
  </div>
</section>
